<div class="container">
    <div class="div-reservation-in margin-top-spacing">
        <div class="div-reservation-content flight-details">
            <div class="caption">
                <img src="https://res.cloudinary.com/turna/image/upload/q_auto,f_auto/Images/Icons/icon-reser-plane.png"
                    alt="" height="25" width="25">
                Uçuş Bilgileri
            </div>
            <div class="details">



                <div class="title">
                    <span class="status">
                        Durum: <span>Ön Rezervasyon</span>
                    </span>
                    <span class="tag">Gidiş Uçuşu</span>
                    <span class="fly-duration">
                        <span>uçuş süresi :</span>
                        <span class="duration-value">14 saat 35 dakika</span>
                    </span>
                </div>




                <div class="fly-item TR">
                    <div class="fly">
                        <div class="img-wrp">
                            <img width="35"
                                src="https://res.cloudinary.com/turna/image/upload/q_auto,f_auto/Images/Flight/Airlines/UA.png"
                                alt="">
                        </div>
                        <div class="fly-airline wrap-parent">
                            <div class="wrap-parent-child">
                                <div class="fly-airline-name">{{flightInfo.marketingAirlines}}</div>
                                <div class="fly-promotion display-none">Promosyonlu</div>
                            </div>
                        </div>
                    </div>
                    <div class="fly-info wrap-parent">
                        <div class="wrap-parent-child">
                            <div>Flight: {{flightInfo.flightNumber}}</div>
                            <div>Sınıf: V</div>
                        </div>
                    </div>
                    <div class="fly-detail wrap-parent">
                        <div class="wrap-parent-child">
                            <div class="time-and-airport first">
                                <strong>Departure:  </strong>
                                {{flightInfo.departureDate}}
                                <span class="no-wrap">
                                    İstanbul ({{flightInfo.departureCity}})
                                </span>
                            </div>
                            <div class="time-and-airport">
                                <strong>Arrival : </strong>
                                {{flightInfo.departureDate}}
                                <span class="no-wrap">
                                    New York ({{flightInfo.arrivalCity}})
                                </span>
                            </div>
                        </div>
                        <div class="segment-duration">
                            03s 20d
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="airline-op">
                        Lufthansa tarafından işletilmekte
                    </div>
                    <div class="transfer   ">
                        <div class="transfer-text-wrapper">
                            <div class="text">
                                Aktarma 2 saat 25 dakika bekleme süresi
                            </div>
                        </div>
                    </div>
                    <div class="fly">
                        <div class="img-wrp">
                            <img width="35"
                                src="https://res.cloudinary.com/turna/image/upload/q_auto,f_auto/Images/Flight/Airlines/UA.png"
                                alt="">
                        </div>
                        <div class="fly-airline wrap-parent">
                            <div class="wrap-parent-child">
                                <div class="fly-airline-name">United Airlines</div>
                                <div class="fly-promotion display-none">Promosyonlu</div>
                            </div>
                        </div>
                    </div>
                    <div class="fly-info wrap-parent">
                        <div class="wrap-parent-child">
                            <div>UA8841</div>
                            <div>Sınıf: V</div>
                        </div>
                    </div>
                    <div class="fly-detail wrap-parent">
                        <div class="wrap-parent-child">
                            <div class="time-and-airport first">
                                <strong>Kalkış : </strong>
                                9 Kasım 2019 Cumartesi, 10:50 -
                                <span class="no-wrap">
                                    Frankfurt (Frankfurt Intl Havalimanı)
                                </span>
                            </div>
                            <div class="time-and-airport">
                                <strong>Varış : </strong>
                                9 Kasım 2019 Cumartesi, 13:40 -
                                <span class="no-wrap">
                                    New York (John F Kennedy Havalimanı)
                                </span>
                            </div>
                        </div>
                        <div class="segment-duration">
                            08s 50d
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="airline-op">
                        Lufthansa tarafından işletilmekte
                    </div>


                </div>
                <div class="baggage-allowance">
                    Bagaj hakkı:&nbsp;&nbsp;23 kg/yetişkin
                </div>
                <div class="clearfix"></div>
                <input type="hidden" class="is-flight-domestic">
            </div>
        </div>



        <div class="div-reservation-content">
            <div class="caption">
                <img src="https://res.cloudinary.com/turna/image/upload/q_auto,f_auto/Images/Icons/icon-reser-tag.png"
                    alt="" height="25" width="25">
                Fiyat Bilgileri

            </div>
            <div class="details">
                <div class="div-price size-for-5">
                    <div class="price-cap price-color-padding">Yolcu</div>
                    <div class="t-right price-color-padding">Toplam</div>
                    <div class="t-right price-color-padding">Hizmet</div>
                    <div class="t-right price-color-padding">Vergi</div>
                    <div class="t-right price-color-padding">Fiyat</div>
                    <!--=======item=========-->
                    <div class="price-cap">1 Yetişkin</div>
                    <div class="t-right">2.663,39 TL</div>
                    <div class="t-right">40,00 TL</div>
                    <div class="t-right">1.090,30 TL</div>
                    <div class="t-right">1.533,09 TL</div>
                    <div class="clearfix"></div>
                </div>
                <div class="clearfix"></div>
            </div>




            

        </div>


        <div class="div-reservation-content passenger-form" dep-date="2019-11-09">
            <div class="caption">
                <img src="https://res.cloudinary.com/turna/image/upload/q_auto,f_auto/Images/Icons/icon-reser-passenger.png"
                    alt="" height="25" width="25"> Yolcu Bilgileri
            </div>
            <div class="details passenger-count" passengercount="1">
                <div class="passenger-inline" type="ADT" data="0" order="1">
                    <div class="pass-first-div passenger-sex ">
                        <div class="header circular-medium">
                            Yetişkin
                            Yolcu
                        </div>
                        <div class="passenger-fly-type btn-group" data-toggle="buttons">
                            <label id="lb-male" class="btn label-0 btn-radio-passenger ">
                                <input id="rd-male" name="passenger-type-0" type="radio" value="0">
                                Erkek
                            </label>
                            <label id="lb-female" class="btn label-1 btn-radio-passenger ">
                                <input id="rd-female" name="passenger-type-0" type="radio" value="1">
                                Kadın
                            </label>
                        </div>

                        <div class="passenger-load display-none">
                            Seç
                            <div class="btn-load-passenger-wrapper">
                                <button class="btn btn-load-passenger" data-type="0"></button>
                            </div>
                        </div>
                    </div>

                    <div class="passenger-in identity-wrapper   ">
                        <div class="header">T.C. Kimlik No</div>
                        <div class="is-turkish-wrapper">
                            <label><input class="is-turkish-citizen" type="checkbox">Türk vatandaşıyım</label>
                        </div>
                    </div>

                    <div class="passenger-in   wide">
                        <div class="header">Ad</div>
                        <input class="mandatory alpha firstname  total-char-limited" type="text" placeholder="Ad"
                            data-autocomplete-type="FirstName" totallength="40">
                    </div>
                    <div class="passenger-in   wide">
                        <div class="header">Soyad</div>
                        <input class="mandatory alpha lastname" type="text" placeholder="Soyad" totallength="40">
                    </div>
                    <div class="passenger-in birthdate-wrapper  wide">
                        <div class="header">Doğum Tarihi: gün/ay/yıl</div>
                        <input class="birthdate anydate" id="birthday-0" type="text"
                            placeholder="Doğum Tarihi: gün/ay/yıl">
                        <span class="birthdate-icon date-icon"></span>
                    </div>
                    <div class="clearfix"></div>


                    <input type="hidden" class="sequence-no" value="0">
                </div>

            </div>
        </div>
        <input type="hidden" id="is-user">
        <div class="passengers validation display-none">
        </div>

        <input autocomplete="off" type="hidden" id="tracking-origin-airport-code" value="IST">
        <input autocomplete="off" type="hidden" id="tracking-destination-airport-code" value="JFK">
        <input autocomplete="off" type="hidden" id="tracking-rounded-total-amount" value="2663">
        <input autocomplete="off" type="hidden" id="tracking-is-smart-flight">
        <input type="hidden" class="BasketWebModel" value="true">


        <div class="div-reservation-content contact-form" data="false">
            <div class="caption"><img
                    src="https://res.cloudinary.com/turna/image/upload/q_auto,f_auto/Images/Icons/icon-reser-contact.png"
                    alt="" height="25" width="25"> İletişim Bilgileri </div>
            <div class="details">
                <div class="contact">
                    <div class="contact-info">
                        <div class="phone">
                            <div class="contact-load display-none">
                                <div class="btn-load-contact-wrapper">
                                    <button class="btn btn-load-contact"></button>
                                </div>
                            </div>
                            <div class="select-wrapper  ">
                                <div class="select-value">
                                    <span class="value">+90</span>
                                    <span class="select-icon"></span>
                                </div>
                            </div>

                            <input id="txtPhone" class="m-mandatory   mask" type="text" value=""
                                placeholder="Cep telefonu" data-autocomplete-type="MobilePhoneNumber">
                        </div>
                        <div class="email">
                            <input class="email-mask mailing-check  " id="txtEmail" type="text" placeholder="e-posta"
                                value="" data-autocomplete-type="Email" maxlength="64">
                        </div>
                        <div class="trn-form-group mailing-checkbox-container" style="display:none">
                            <input type="checkbox" id="mailing-check">
                            <label class="label-mailing" for="mailing-check">
                                Fırsatlar ve kampanyalar hakkında bilgilendirilmek istiyorum. İstediğim zaman iletişimi
                                durdurabilirim.
                            </label>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>

        </div>
        <div class="contact-validation validation display-none">
        </div>


        <div class="item">
            <button class="btn-lg btn-default pull-left make-reservation">Rezervasyon Yap</button>
            <button class="btn-lg btn-payment pull-right to-booking">Ödemeye İlerle</button>
            <div class="clearfix"></div>
        </div>
    </div>


    <input type="hidden" class="passenger-sex-validation" value="Yolcu cinsiyetini seçmelisin. ">
    <input type="hidden" class="passenger-name-validation" value="Yolcu isim ve soyisim alanları boş olamaz.">
    <input type="hidden" class="passenger-birthdate-validation" value="Yolcu doğum tarihi alanı boş olamaz. ">
    <input type="hidden" class="passenger-name-validation-by-provider"
        value="İsim ve soyisim uzunluğu en fazla 40 karakter olmalı.">

    <input type="hidden" class="passenger-birthdate-ADT" minval="12" maxval="200"
        value="Yetişkin yolcuların yaşı, uçuş tarihinde çocuk yaşından büyük olmalıdır. ({0})">
    <input type="hidden" class="passenger-birthdate-STD" minval="12" maxval="24"
        value="Öğrenci yolcuların yaşı, uçuş tarihinde 12 ve 24 yaş aralığında olmalıdır. ({0})">
    <input type="hidden" class="passenger-birthdate-CHD" minval="2" maxval="12"
        value="Çocuk yolcuların yaşı, uçuş tarihinde 2 ve 12 yaş aralığında olmalıdır. ({0})">
    <input type="hidden" class="passenger-birthdate-INF" minval="0" maxval="2"
        value="Bebek yolcuların yaşı, uçuş tarihinde 0 ve 2 yaş aralığında olmalıdır. ({0})">
    <input type="hidden" class="passenger-birthdate-SRC" minval="65.1" maxval="200"
        value="Yaşlı yolcuların yaşı, uçuş tarihinde 65 yaş üstü olmalıdır. ({0})">

    <input type="hidden" class="passenger-citizenno-validation"
        value="Türk vatandaşları için geçerli bir T.C. Kimlik No girilmesi zorunludur.">

    <input type="hidden" class="contact-phone-validation" value="Geçerli bir cep telefonu girmelisin.">
    <input type="hidden" class="contact-email-validation" value="Geçerli e-posta adresi belirtmelisin.">





    <input type="hidden" class="prebookingurl" value="/ucak-bileti/yolcubilgileri">

    <div id="toTop">
        <div class="sprite icon-top"></div>
    </div>

</div>