html,body {
    background-color: #fbfbfb
}

.div-reservation-content {
    margin-top: 21px;
    border: 4px solid #d9534f;
    border-radius: 4px 4px 0 0;
    padding-bottom: 4px;
    background-color: #fff
}

.div-reservation-content .caption {
    background-color: #d9534f;
    font-size: 17px;
    color: #565656;
    padding: 5px 10px 9px
}










