html,body {
    background-color: #fbfbfb
}

.handicapped-wrapped {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 200;
    opacity: .1;
    -moz-opacity: .1;
    -khtml-opacity: .1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=10)";
    filter: alpha(opacity=10);
    cursor: not-allowed!important;
    float: none
}

.border-1-grey {
    border: 1px solid #e2e0e0
}

.handicapped {
    cursor: not-allowed!important;
    background-color: #f5f5f5;
    opacity: 1
}

.font-size-14 {
    font-size: 14px
}

.pull-left {
    float: left
}

.pull-right {
    float: right
}

.margin-top-minus-5 {
    margin-top: -5px
}

.padding-t-55 {
    padding-top: 55px
}

.margin-top-spacing {
    margin-top: 70px!important
}

.div-reservation-in {
    position: relative;
    width: 85%;
    margin: auto;
    max-width: 1180px
}

.div-reservation-content .details .passenger-inline .header {
    color: #002C5F;
    margin-bottom: 5px
}

.div-reservation-content .details .passenger-inline .passport-info {
    overflow: hidden;
    padding: 10px 0 20px
}

.div-reservation-content .details .passenger-inline .passport-validation-wrapper {
    margin: 0 9px 0 4%;
    overflow: hidden;
    padding: 10px;
    border: 2px solid #ff5a5f
}

.div-reservation-content .details .passenger-inline .passport-validation-wrapper input {
    float: left;
    margin-right: 5px;
    cursor: pointer;
    height: 18px;
    width: 15px
}

.div-reservation-content .details .passenger-inline .passport-validation-wrapper label {
    font-size: 15px;
    line-height: 27px;
    width: 100%;
    display: block
}

.passenger-fly-type {
    padding: 0;
    font-size: 18px;
    text-align: center;
    width: 100%;
    cursor: pointer;
    position: relative
}

.btn-radio-passenger {
    font-size: 14px;
    text-align: left;
    padding: 0 0 0 6px!important;
    background-color: #fbfbfb;
    line-height: 19px;
    margin: 0 8px;
    cursor: pointer
}

.btn-radio-passenger input {
    margin-top: -3px;
    vertical-align: middle
}

.btn-radio-passenger:hover,.open>.dropdown-toggle.btn-radio-passenger {
    color: #fff;
    background-color: #ccc
}

.div-reservation-content .details .fly-item {
    width: 100%;
    padding: 7px 0
}

.div-reservation-content {
    margin-top: 21px;
    border: 4px solid rgb(116, 174, 250);
    border-radius: 4px 4px 0 0;
    padding-bottom: 4px;
    background-color: #fff
}

.div-reservation-content .caption {
    background-color: rgb(116, 174, 250);
    font-size: 17px;
    color: #565656;
    padding: 5px 10px 9px
}

.flight-details .caption {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.div-reservation-content .caption .important-notes {
    position: relative;
    margin-left: auto
}

.div-reservation-content .caption .important-notes a {
    font-weight: bold;
    color: #fff;
    line-height: 1;
    cursor: pointer;
    background-color: #002C5F;
    border: 1px solid #002C5F;
    padding: 10px 15px;
    border-radius: 100px;
    display: block
}

.div-reservation-content .caption .font-size-14 {
    text-align: right;
    display: block;
    float: right;
    font-weight: 500;
    font-size: .88em
}

.div-reservation-content .caption img {
    margin-right: 10px
}

.div-reservation-content .details .passenger-inline {
    padding: 15px 0
}

.div-reservation-content .details .passenger-inline:not(:last-child) {
    margin-bottom: 15px;
    border-bottom: 1px solid #e6e6e6
}

.div-reservation-content .details .passenger-inline .passenger-in {
    float: left;
    font-size: 16px;
    padding: 4px 3px 3px 3px;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

.div-reservation-content .details .passenger-inline .passenger-in.identity-wrapper {
    display: none
}

.div-reservation-content .details .passenger-inline .passenger-in.flight-asks-identity {
    display: block
}

.div-reservation-content .details .passenger-inline .passenger-in.insurance-asks-identity {
    display: block
}

.div-reservation-content.passenger-form .details {
    padding: 15px
}

.passenger-inline .flight-cards-wrapper {
    margin-top: 15px;
    padding: 0 15px
}

.passenger-inline .flight-card-item {
    transition: .3s
}

.passenger-inline .flight-card-item:not(:last-child) {
    margin-bottom: 10px
}

.passenger-inline .flight-card-item .flight-card-label-wrapper .flight-card-label {
    position: relative;
    color: #002C5F;
    font-weight: 500;
    cursor: pointer
}

.passenger-inline .flight-card-item .flight-card-label-wrapper .flight-card-label:after {
    content: "";
    position: absolute;
    display: block;
    right: -15px;
    top: 50%;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 6px 4px 0 4px;
    border-color: #002C5F transparent transparent transparent;
    transform: translateY(-30%);
    transition: .3s
}

.passenger-inline .flight-card-item.isOpen .flight-card-label-wrapper .flight-card-label:after {
    transform: translateY(-30%) rotate(-180deg)
}

.passenger-inline .flight-card-item.isOpen .flight-card-content-wrapper {
    display: block;
    margin-top: 10px
}

.passenger-inline .flight-card-item .flight-card-content-wrapper {
    padding-bottom: 10px
}

.passenger-inline .flight-card-item .flight-card-content-wrapper input[type=text] {
    border: 1px solid #ccc;
    padding: 3px;
    height: 29px;
    font-size: 14px;
    width: 100%;
    max-width: 250px
}

@media(max-width: 800px) {
    .div-reservation-content .details {
        background-color:#fff;
        position: relative;
        color: #777
    }

    .div-reservation-content .details .passenger-inline .passport-validation-wrapper {
        margin: 0 15px 0 2px
    }

    .div-reservation-content .details .title {
        position: relative;
        background-color: #f5f5f5;
        text-align: center;
        line-height: 24px;
        padding: 4px
    }

    .div-reservation-content .details .fly {
        float: left;
        width: 55%;
        padding-left: 10px;
        font-size: 14px;
        position: relative
    }

    .div-reservation-content .details .fly-info {
        float: left;
        width: 40%;
        font-size: 14px
    }

    .div-reservation-content .details .fly-detail {
        float: left;
        width: 100%;
        font-size: 14px;
        padding-bottom: 10px;
        position: relative;
        height: 100%
    }

    .div-reservation-content .fly-detail .segment-duration {
        position: absolute;
        right: 5px;
        bottom: 28px;
        color: #002C5F;
        font-size: 13px
    }

    .div-reservation-content .details .insurance {
        width: 100%;
        font-size: 12px;
        padding: 10px;
        border-top: 1px solid #e2e2e2;
        margin-top: 10px;
        clear: both
    }

    .div-reservation-content .total-price {
        margin-top: 10px;
        height: 100%;
        padding: 10px 10px 0 10px;
        background-color: #fff;
        border-top: 1px solid #e2dede
    }

    .div-reservation-content .total-price .pull-left .tag {
        display: none
    }

    .div-reservation-content .exstra-price {
        width: 100%;
        padding: 5px 10px 0 10px;
        border-bottom: 1px solid #ccc
    }

    .div-reservation-content .exstra-price .pull-left {
        color: #000;
        font-weight: 500;
        font-size: 16px;
        padding-top: 5px
    }

    .div-reservation-content .exstra-price .pull-right {
        color: #000;
        font-weight: 500;
        font-size: 22px
    }

    .btn-radio-passenger {
        padding: 10px;
        border: 1px solid #f1f1f1;
        display: inline-block!important;
        width: 80px
    }

    .div-reservation-content .details .passenger-inline {
        width: 100%;
        margin-bottom: 20px
    }

    .div-reservation-content .details .passenger-inline .pass-first-div {
        width: 100%;
        float: none;
        font-size: 14px;
        padding: 3px 3px 3px 10px;
        text-align: center;
        position: relative
    }

    .div-reservation-content .details .passenger-load {
        position: absolute;
        left: 7px;
        top: 5px;
        outline: 0;
        color: #fa0303
    }

    .passenger-fly-type {
        line-height: 38px
    }

    .div-reservation-content .details .passenger-inline .wide {
        width: 33.33%!important
    }

    .div-reservation-content .details .passenger-inline .narrow {
        width: 24%!important
    }

    .div-reservation-content .details .passenger-inline .margin-left-percent {
        margin-left: 27%!important
    }

    .div-reservation-content .details .passenger-inline .passenger-in div {
        font-size: 13px
    }

    .div-reservation-content .details .passenger-inline .passenger-in input[type=text] {
        border: 1px solid #ccc;
        padding: 3px;
        width: 90%;
        height: 29px;
        font-size: 14px
    }

    .div-reservation-content .details .passenger-inline .passenger-in select {
        border: 1px solid #ccc;
        padding: 3px;
        width: 93%;
        height: 38px;
        font-size: 14px
    }

    .div-reservation-content .details .contact {
        padding: 10px
    }

    .div-reservation-content .details .contact .contact-info {
        float: none;
        margin: 20px auto;
        width: 80%;
        margin-bottom: 10px
    }

    .div-reservation-content .details .contact .contact-info .phone {
        width: 100%;
        position: relative;
        display: inline-block;
        vertical-align: middle;
        white-space: nowrap
    }

    .contact-info .phone .select-wrapper {
        float: left;
        position: relative;
        border: 1px solid #ccc;
        padding: 3px;
        width: 20%;
        height: 29px;
        font-size: 16px;
        margin-right: 6px;
        margin-bottom: 10px
    }

    .div-reservation-content .details .contact .contact-info .phone input[type=text] {
        border: 1px solid #ccc;
        padding: 3px;
        width: 76%;
        height: 29px;
        font-size: 16px
    }

    .div-reservation-content .details .contact .contact-info .email {
        float: none;
        width: 99%;
        margin-top: 10px
    }

    .div-reservation-content .details .contact .binding {
        float: none;
        clear: both;
        margin: 20px auto;
        width: 80%;
        padding: 10px 10px 10px 0;
        font-size: 14px
    }

    .div-reservation-content .details .passenger-inline .header {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap
    }
}

@media(min-width: 801px) {
    .div-reservation-content .details {
        background-color:#fff;
        position: relative;
        color: #777
    }

    .div-reservation-content .details .title {
        position: relative;
        width: 100%;
        background-color: #f5f5f5;
        display: inline-block;
        text-align: center;
        padding: 6px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box
    }

    .div-reservation-content .details .fly {
        float: left;
        width: 25%;
        padding-left: 10px;
        font-size: 14px;
        position: relative
    }

    .div-reservation-content .details .fly-info {
        float: left;
        width: 10%;
        font-size: 14px
    }

    .div-reservation-content .details .fly-detail {
        float: left;
        width: 63%;
        font-size: 14px;
        position: relative
    }

    .div-reservation-content .fly-detail .segment-duration {
        position: absolute;
        right: 5px;
        bottom: 28px;
        color: #002C5F;
        font-size: 13px
    }

    .btn-radio-passenger {
        display: block
    }

    .div-reservation-content .details .insurance {
        width: 100%;
        font-size: 16px;
        padding: 10px;
        border-top: 1px solid #e2e2e2;
        margin-top: 10px;
        clear: both
    }

    .div-reservation-content .total-price {
        margin-top: 10px;
        padding: 10px 10px 0 10px;
        background-color: #fff;
        border-top: 1px solid #e2dede
    }

    .div-reservation-content .exstra-price {
        width: 100%;
        padding: 5px 10px 0 10px;
        border-bottom: 1px solid #ccc
    }

    .div-reservation-content .exstra-price .pull-left {
        color: #000;
        font-weight: 500;
        font-size: 16px;
        padding-top: 5px
    }

    .div-reservation-content .exstra-price .pull-right {
        color: #000;
        font-weight: 500;
        font-size: 22px
    }

    .div-reservation-content .details .passenger-load {
        position: absolute;
        left: -45px;
        top: 3px;
        outline: 0;
        color: #fa0303
    }

    .div-reservation-content .details .passenger-inline .pass-first-div {
        width: 100px;
        float: left;
        font-size: 14px;
        padding: 3px 3px 3px 10px;
        text-align: center;
        margin-left: 7%;
        position: relative
    }

    .div-reservation-content .details .passenger-inline .wide {
        width: 25.33%
    }

    .div-reservation-content .details .passenger-inline .narrow {
        width: 20%
    }

    .div-reservation-content .details .passenger-inline .margin-left-percent {
        margin-left: 16%
    }

    .div-reservation-content .details .passenger-inline .passenger-in.padding-top {
        padding-top: 23px
    }

    .div-reservation-content .details .passenger-inline .passenger-in div {
        font-size: 14px;
        line-height: 19px
    }

    .div-reservation-content .details .passenger-inline .passenger-in input[type=text] {
        border: 1px solid #ccc;
        padding: 3px;
        width: 90%;
        height: 29px;
        font-size: 14px
    }

    .div-reservation-content .details .passenger-inline .passenger-in select {
        border: 1px solid #ccc;
        padding: 3px;
        width: 93%;
        height: 38px;
        font-size: 14px
    }

    .div-reservation-content .details .contact {
        padding: 10px
    }

    .div-reservation-content .details .contact .contact-info {
        float: none;
        margin: 20px auto;
        width: 80%
    }

    .div-reservation-content .details .contact .contact-info .phone {
        width: 50%;
        position: relative;
        display: inline-block;
        vertical-align: middle;
        white-space: nowrap
    }

    .contact-info .phone .select-wrapper {
        float: left;
        position: relative;
        border: 1px solid #ccc;
        padding: 3px;
        width: 60px;
        height: 29px;
        font-size: 16px;
        margin-right: 7px
    }

    .div-reservation-content .details .contact .contact-info .phone input[type=text] {
        border: 1px solid #ccc;
        padding: 3px;
        width: 70%;
        height: 29px;
        font-size: 16px
    }

    .div-reservation-content .details .contact .contact-info .email {
        float: left;
        width: 49%
    }

    .div-reservation-content .details .contact .binding {
        float: none;
        clear: both;
        margin: 20px auto;
        width: 80%;
        padding: 10px 10px 10px 0;
        font-size: 14px
    }
}

.div-reservation-content .details .contact .contact-info .email input[type=text] {
    border: 1px solid #ccc;
    padding: 3px;
    width: 100%;
    height: 29px;
    font-size: 16px
}

.div-reservation-content .details .contact .note {
    float: none;
    clear: both;
    margin: 15px auto;
    width: 79%;
    padding: 5px;
    border: 1px solid #fa0303;
    font-size: 16px;
    text-align: center;
    font-weight: 500;
    color: #777
}

.div-reservation-content .title .tag {
    font-size: 15px;
    font-weight: 500;
    color: #565656;
    letter-spacing: .0325em
}

.fly-promotion {
    font-size: 14px;
    padding-left: 1px;
    color: #fa0303
}

.fly-item .fly .img-wrp {
    height: 50px;
    line-height: 50px;
    width: 35px;
    float: left
}

.fly-item .fly .fly-airline {
    float: left;
    width: 80%
}

.wrap-parent {
    height: 50px;
    padding-top: 5px;
    white-space: nowrap
}

.wrap-parent::before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -.25em
}

.wrap-parent-child {
    display: inline-block;
    vertical-align: middle;
    padding-left: 10px;
    width: 100%;
    white-space: normal
}

.fly-item .airline-op {
    line-height: 22px;
    font-size: 12px;
    padding-left: 10px;
    float: left;
    max-width: 280px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
}

.title-airline-img {
    padding-right: 10px
}

.fly-airline-name {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 100%
}

.div-reservation-content .status {
    font-size: 14px;
    float: left;
    padding: 2px 5px 0 5px;
    position: absolute;
    left: 5px;
    text-align: left
}

.div-reservation-content .status span {
    color: #002C5F
}

.div-reservation-content .status a.cancel {
    color: #fa0303;
    font-size: 12px
}

.div-reservation-content .status a.get-refund-offer {
    color: #fa0303;
    font-size: 12px
}

.notes-wrapper {
    padding-top: 15px
}

.notes-wrapper .note-first {
    position: relative;
    margin-bottom: 10px;
    padding-left: 22px!important;
    padding-top: 0!important;
    font-size: 15px!important;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-weight: bold
}

.notes-wrapper .note-first::before {
    content: "";
    position: absolute;
    top: 5px;
    left: 0;
    width: 8px;
    height: 8px;
    border-radius: 8px;
    background-color: #484848;
    color: #fff;
    font-family: serif;
    font-weight: bold;
    font-size: 11px;
    margin-right: 5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center
}

.note-list-wrapper {
    margin-top: 15px;
    margin-bottom: 25px
}

.note-list-title {
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 5px;
    color: #002C5F
}

.note-list {
    list-style: disc;
    padding-left: 15px
}

.note-list>li {
    font-size: 15px;
    margin-bottom: 10px
}

.div-reservation-content .note {
    padding: 2px 10px;
    font-size: 14px;
    letter-spacing: .0325em
}

.time-and-airport {
    color: #666
}

.time-and-airport strong {
    display: inline-block;
    font-weight: 500
}

.TR .time-and-airport strong {
    width: 60px
}

.EN .time-and-airport strong {
    width: 80px
}

.time-and-airport .no-wrap {
    white-space: nowrap
}

.div-reservation-content .title .fly-duration {
    float: right;
    padding: 2px 5px 0 5px;
    position: absolute;
    right: 5px;
    text-align: right
}

.div-reservation-content .title .fly-duration .duration-value {
    color: #002C5F
}

.reissue {
    background-color: #fff8f2!important
}

.reissue .ticket-details {
    padding-right: 10px;
    font-size: 14px;
    position: absolute;
    right: 0;
    text-align: right
}

.reissue .pnr-value {
    color: #002C5F
}

.reissue .txt {
    font-weight: 500;
    color: #fa0303;
    text-rendering: optimizeLegibility;
    letter-spacing: .0625em
}

.reissue .tag {
    line-height: 42px
}

.div-reservation-content .total-price .amount {
    color: #ef3b40;
    font-size: 22px;
    text-rendering: optimizeLegibility
}

.div-reservation-content .total-price .currency {
    font-size: 14px
}

.div-reservation-content .total-price .point-amount {
    color: #fa0303;
    font-size: 22px;
    text-rendering: optimizeLegibility;
    letter-spacing: .0325em
}

.div-reservation-content .total-price .point-amount-desc {
    color: #fa0303;
    font-size: 18px
}

.div-reservation-content .total-price .tag {
    color: #002C5F;
    font-size: 16px;
    padding-right: 10px;
    line-height: 34px;
    text-rendering: optimizeLegibility
}

.div-reservation-content .total-price div {
    padding-bottom: 5px
}

.div-reservation-content .details .div-price {
    padding: 10px 5%
}

.div-reservation-content .details .div-price .price-cap {
    float: left;
    font-size: 14px
}

.price-color-padding {
    color: #002C5F;
    padding: 5px;
    text-rendering: optimizeLegibility;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

.t-right {
    text-align: right;
    font-size: 14px;
    float: right;
    text-rendering: optimizeLegibility
}

.size-for-5 .t-right,.size-for-5 .price-cap {
    width: 20%
}

.size-for-6 .t-right,.size-for-6 .price-cap {
    width: 16.66%
}

.discount-color {
    color: #fa0303
}


.div-reservation-content .note-point {
    padding-bottom: 0!important;
    font-size: 14px;
    padding: 2px 0;
    clear: both
}

.div-reservation-content .note-point span {
    color: #002C5F
}

.description-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 100%
}

.primary-description {
    padding-right: 30px!important
}

.secondary-description {
    position: relative;
    border: 1px solid #fa0303;
    background-color: #fff;
    padding: 10px!important;
    border-radius: 4px
}

.secondary-description::after {
    content: "";
    position: absolute;
    right: 35px;
    top: -6px;
    display: block;
    width: 10px;
    height: 10px;
    background-color: #fff;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    border-color: #fa0303;
    border-style: solid;
    border-width: 1px 1px 0 0;
    border-top-right-radius: 3px
}

.secondary-description-text {
    color: #fa0303;
    font-weight: 500
}

@media screen and (max-width: 600px) {
    .description-wrapper {
        -webkit-box-orient:vertical;
        -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
        flex-direction: column-reverse
    }

    .secondary-description {
        margin-bottom: 10px
    }
}

.div-reservation-content .earn-point {
    color: #696969;
    font-weight: 500;
    line-height: 22px;
    padding-top: 5px
}

.div-reservation-content .earn-point span {
    font-weight: 500;
    text-decoration: underline;
    cursor: pointer;
    letter-spacing: .0625em;
    color: #fa0303
}

.div-reservation-in .item {
    margin-top: 10px;
    border: 1px solid #f1f1f1;
    font-size: 16px;
    padding: 25px 25px 25px 25px;
    margin-bottom: 5px;
    background-color: #fff
}

.validation {
    font-size: 17px;
    padding: 10px 0;
    background-color: #ffff;
    color: #fff;
    margin-top: -12px;
    border: 4px solid rgb(116, 174, 250)
}

.validation div {
    padding: 2px 10px
}

.contact-info .phone .select-wrapper .phoneprefix {
    float: none;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    height: 35px;
    width: 60px;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    position: absolute;
    -webkit-appearance: none;
    padding: 5px 20px;
    color: #777;
    z-index: 10;
    padding: 0;
    margin: 0
}

.contact-info .phone .select-wrapper .select-value {
    padding: 3px;
    font-size: 15px;
    font-weight: 500
}

.contact-info .phone .select-wrapper .select-value .value {
    padding-right: 10px
}

.contact-info .phone .select-wrapper .select-value .select-icon {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #888;
    right: 4px;
    top: 14px;
    position: absolute
}

.birthdate-wrapper {
    position: relative
}

.birthdate-wrapper .date-icon {
    position: absolute;
    background: url(https://res.cloudinary.com/turna/image/upload/q_auto,f_auto/Images/Icons/icon-datepicker.png);
    left: 78%;
    bottom: 9px;
    z-index: 1;
    width: 25px;
    height: 25px;
    cursor: pointer
}

.ui-datepicker {
    min-width: 60%!important;
    border: 2px solid #ededed
}

.ui-datepicker select.ui-datepicker-month,.ui-datepicker select.ui-datepicker-year {
    width: 39%!important;
    margin-left: 1px;
    border-color: #e1e1e1;
    color: #676767
}

.ui-datepicker .ui-datepicker-title {
    margin: 1px
}

.ui-datepicker-prev {
    top: 7px!important
}

.ui-datepicker-next {
    top: 7px!important
}

.ui-datepicker-calendar th {
    padding-bottom: 5px!important
}

.ui-autocomplete {
    max-height: 200px;
    overflow: hidden
}

.any-date-datepicker {
    position: absolute;
    top: 7px;
    left: -38px
}

.pnr-details {
    overflow: hidden;
    margin: 8px 0 -6px 5px
}

.pnr-details .pnr {
    font-family: Arial;
    color: #002C5F;
    font-weight: bold;
    letter-spacing: .0225em
}

.pnr-details div {
    float: left;
    padding: 5px 8px 0 5px;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased
}

.transfer {
    clear: both;
    border-bottom: 2px solid #f5f5f5;
    z-index: 4;
    height: 1px;
    position: relative;
    margin-bottom: 12px
}

.margin-top-20 {
    margin-top: 20px
}

.margin-top-5 {
    margin-top: 5px
}

.transfer .text {
    width: 270px;
    position: absolute;
    left: 50%;
    margin-left: -130px;
    z-index: 5;
    background-color: #f5f5f5;
    text-align: center;
    font-size: 13px;
    height: 26px;
    line-height: 24px;
    top: -12px
}

.transfer .additional-link-wrapper,.transfer .transfer-label-wrapper {
    display: none
}

.transfer.smart-flights .additional-link-wrapper,.transfer.smart-flights .transfer-label-wrapper {
    display: block
}

.transfer.smart-flights {
    height: auto;
    position: relative;
    background-color: #fff;
    border: none;
    padding: 10px 0 5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center
}

.transfer.smart-flights::after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    height: 1px;
    width: 100%;
    background-color: #006ee9;
    z-index: 0
}

.transfer.smart-flights .additional-link-wrapper {
    position: absolute;
    left: 0;
    z-index: 2;
    background-color: #fff;
    padding: 5px 30px 5px 10px;
    border-radius: 4px;
    bottom: 19px
}

.transfer.smart-flights .additional-link-wrapper:hover {
    cursor: pointer
}

.transfer.smart-flights .additional-link {
    position: relative;
    color: #006ee9;
    text-decoration: underline;
    text-underline-position: under;
    font-size: 14px;
    font-weight: 500
}

.transfer.smart-flights .additional-link::after {
    content: "?";
    display: block;
    position: absolute;
    right: -20px;
    top: 0;
    bottom: 0;
    width: 14px;
    height: 14px;
    background-color: #006ee9;
    color: #fff;
    margin: auto;
    border-radius: 14px;
    text-align: center;
    font-size: 10px
}

.transfer.smart-flights .transfer-text-wrapper {
    position: relative;
    padding: 0 15px;
    border-radius: 4px;
    border: 1px solid #006ee9;
    background-color: #fff;
    z-index: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center
}

.transfer.smart-flights .transfer-text-wrapper .transfer-label-wrapper {
    position: absolute;
    background-color: #006ee9;
    color: #fff;
    border-radius: 4px;
    z-index: 10;
    padding: 3px 26px 3px 10px;
    white-space: nowrap;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%)
}

.transfer.smart-flights .transfer-label-wrapper:hover {
    cursor: pointer
}

.transfer.smart-flights .transfer-text-wrapper .transfer-label-wrapper .transfer-label {
    position: relative;
    color: #fff;
    font-size: 12px
}

.transfer.smart-flights .transfer-text-wrapper .transfer-label-wrapper .transfer-label::after {
    content: "?";
    display: block;
    position: absolute;
    right: -20px;
    top: 0;
    bottom: 0;
    width: 14px;
    height: 14px;
    background-color: #fff;
    color: #006ee9;
    margin: auto;
    border-radius: 14px;
    text-align: center;
    font-size: 10px
}

.transfer.smart-flights .transfer-text-wrapper .text {
    display: inline-block;
    position: relative;
    border: none;
    border-radius: 4px;
    top: 0;
    left: 0;
    width: auto;
    margin-left: 0;
    background: #fff;
    padding: 13px 0 2px
}

@media screen and (max-width: 1100px) {
    .transfer.smart-flights {
        padding:10px 0 25px
    }

    .transfer.smart-flights .additional-link-wrapper {
        left: 0;
        right: 0;
        bottom: -2px;
        text-align: center;
        background-color: transparent;
        padding: 5px 0
    }

    .transfer.smart-flights .additional-link {
        font-size: 11px
    }

    .transfer.smart-flights .additional-link::after {
        display: none
    }
}

.make-reservation {
    background-color: #0e6dc7;
    border: 1px solid #0e6dc7;
    border-radius: 2px;
    padding: 10px
}

#invoice-form .btn,.btn-payment {
    background-color: #fa0303;
    border: 1px solid #fa0303;
    color: #fff;
    padding: 10px;
    outline: 0;
    font-size: 16px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px
}

.make-reservation:hover {
    background-color: #31a7a5
}

#invoice-form .btn:hover,.btn-payment:hover,.open>.dropdown-toggle.btn-payment {
    background-color: #fa0303
}

.btn-payment:active,.btn-payment.active,.open>.dropdown-toggle.btn-payment {
    background-image: none
}

.btn-payment .badge {
    color: #fff;
    background-color: #333
}

.make-reservation,.to-booking {
    width: 200px;
    color: #fff;
    outline: 0
}

.show-payment-div {
    overflow: hidden;
    padding: 4px 15px 15px;
    z-index: 10;
    text-align: center
}

.booking-passengers .div-passenger,.payment-summary-detail table {
    margin: 10px 0 10px 5%;
    padding-bottom: 8px;
    width: 94%
}

.booking-passengers .div-passenger .pass-header {
    color: #002C5F;
    font-weight: normal;
    text-rendering: optimizeLegibility;
    text-align: left
}

.booking-passengers .div-passenger .pass-header,.booking-passengers .div-passenger .pass-info {
    padding: 5px 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    word-break: break-word
}

.booking-passengers .pass-notice {
    line-height: 20px;
    font-size: .95em;
    padding: 2px 10px;
    color: #fa0303;
    font-weight: 500;
    letter-spacing: .0325em
}

.pas-ticket a {
    padding-left: 10px;
    font-size: 14px
}

.payment-summary-detail td {
    padding: 5px 0
}

.payment-summary-detail table {
    padding: 20px;
    font-size: 15px;
    width: 100%
}

.payment-summary-detail .payment-type {
    color: #002C5F;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    font-weight: 500;
    text-rendering: optimizeLegibility;
    letter-spacing: .0625em;
    font-size: 16px
}

.payment-summary-detail .t-header {
    color: #838383;
    text-rendering: optimizeLegibility
}

.payment-summary-detail .date-value {
    font-size: 14px;
    color: #838383
}

.payment-summary-detail .p-installment {
    font-size: 14px
}

.p-amount .amount-header {
    color: #838383;
    font-weight: normal;
    font-size: 16px
}

.p-amount .value {
    color: #ef3b40;
    font-weight: 500;
    font-size: 16px;
    text-rendering: optimizeLegibility;
    letter-spacing: .0625em
}

.baggage-allowance {
    line-height: 20px;
    font-size: 14px;
    padding: 0 10px 10px;
    letter-spacing: .0325em;
    font-weight: 500;
    color: #fa0303;
    text-align: right;
    display: block
}

.div-reservation-content .details .contact .contact-info .contact-load {
    position: absolute;
    left: -53px;
    top: -5px;
    outline: 0
}

.div-reservation-content .passenger-inline .btn-load-passenger {
    background: url(https://res.cloudinary.com/turna/image/upload/q_auto,f_auto/Images/Icons/icon-search.png);
    background-repeat: no-repeat;
    width: 40px;
    height: 38px;
    background-color: #fa0303;
    margin-top: 4px;
    border-radius: 50px;
    background-size: 22px;
    background-position: 10px 9px;
    border: none
}

.div-reservation-content .details .contact .contact-info .btn-load-contact {
    background: url(https://res.cloudinary.com/turna/image/upload/q_auto,f_auto/Images/Icons/icon-search.png);
    background-repeat: no-repeat;
    width: 40px;
    height: 38px;
    background-color: #fa0303;
    margin-top: 4px;
    border-radius: 50px;
    background-size: 22px;
    background-position: 10px 9px;
    border: none
}

#load-passenger-modal .trn,#load-contact-modal .trn {
    max-width: 600px;
    padding: 2.5% 0
}

.passenger-recommendation-modal,.contact-recommendation-modal {
    padding: 10px 0;
    max-height: 500px;
    overflow-y: scroll
}

.passenger-recommendation-table,.contact-recommendation-table {
    font-size: 13px;
    background: #fff;
    border-collapse: collapse;
    text-align: left
}

.passenger-recommendation-table thead td,.contact-recommendation-table thead td {
    font-size: 14px;
    font-weight: normal;
    color: #666;
    border-bottom: 2px solid #fa0303;
    background-color: #fbfbfb;
    padding: 18px 10px 9px
}

.passenger-recommendation-table tbody tr,.contact-recommendation-table tbody tr {
    cursor: pointer
}

.passenger-recommendation-table tbody td,.contact-recommendation-table tbody td {
    border-bottom: 1px solid #f3f3f3;
    color: #777;
    padding: 6px 10px
}

.passenger-recommendation-table td.recommendation-gender {
    width: 16%;
    padding-left: 30px
}

.passenger-recommendation-table tbody td.passenger-recommendation-remove,.contact-recommendation-table tbody td.passenger-recommendation-remove {
    cursor: pointer
}

.passenger-recommendation-table tbody td.hidden {
    display: none
}

.passenger-recommendation-table,.contact-recommendation-table {
    width: 100%
}

.passenger-recommendation-table tbody tr:hover,.contact-recommendation-table tbody tr:hover {
    background-color: #ecf8ff
}

@media(max-width: 1170px) {
    .div-reservation-content .details .passenger-inline .wide {
        width:26%
    }

    .div-reservation-content .details .passenger-inline .narrow {
        width: 19.3%
    }

    .div-reservation-content .details .passenger-inline .margin-left-percent {
        margin-left: 19.5%
    }

    .narrow .date-icon {
        left: 74%
    }

    .time-and-airport {
        max-width: 460px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden
    }
}

.padding-narrow {
    padding-bottom: 0!important
}

.booking-passengers .div-passenger .width-10 {
    width: 10%
}

.booking-passengers .div-passenger .width-13 {
    width: 13%
}

.booking-passengers .div-passenger .width-15 {
    width: 15%
}

.booking-passengers .div-passenger .width-225 {
    width: 22.5%
}

.booking-passengers .div-passenger .width-25 {
    width: 25%;
    text-align: right
}

.booking-passengers .div-passenger .width-20 {
    width: 20%
}

.booking-passengers .div-passenger .width-17 {
    width: 17%
}

.booking-passengers .div-passenger .width-18 {
    width: 18%
}

.go-back-links {
    margin-top: 20px;
    margin-bottom: 25px;
    font-size: 13px
}

.arrow_box {
    position: relative;
    background: #ded0d0;
    margin-right: 20px
}

.arrow_box:after,.arrow_box:before {
    left: 100%;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none
}

.arrow_box:after {
    border-color: rgba(222,208,208,0);
    border-left-color: #ded0d0;
    border-width: 5px;
    margin-top: -5px
}

.arrow_box:before {
    border-color: rgba(234,234,234,0);
    border-left-color: #eaeaea;
    border-width: 8px;
    margin-top: -8px
}

.go-back-links .wrapper {
    border: 1px solid #f1f1f1;
    padding: 10px 18px 10px 35px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    background-color: #f4fbfd;
    color: #777;
    font-size: 13px;
    margin-right: 10px;
    text-decoration: none;
    position: relative;
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,.18);
    box-shadow: 0 1px 3px rgba(0,0,0,.18)
}

.go-back-links .wrapper span {
    text-decoration: none;
    display: inline-block;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    background-color: #002C5F;
    color: #fff;
    margin: 0 5px;
    position: absolute;
    width: 25px;
    height: 25px;
    top: 5px;
    left: 0
}

.go-back-links .wrapper span.current {
    background-color: #fa0303
}

.go-back-links .wrapper span em {
    position: absolute;
    left: 50%;
    margin-left: -3px;
    top: 3px
}

.trn-main-top>.trn-nav {
    border-bottom-color: #f1f1f1
}

.container {
    background-color: #fbfbfb
}

#reservation-control-link {
    display: none
}

.clearfix:before {
    display: table;
    content: " "
}

.clearfix:after {
    clear: both;
    display: table;
    content: " "
}

.icons-p img {
    display: none
}

img {
    vertical-align: middle
}

.is-turkish-citizen {
    height: 14px;
    width: 14px;
    margin: 0 5px 0 0;
    padding: 0;
    vertical-align: bottom;
    position: relative;
    top: -2px
}

.change-passenger {
    text-align: center
}

.change-passenger .btn {
    margin-top: 15px;
    border: none;
    background-color: #fff;
    color: #002C5F;
    text-decoration: underline
}

#change-passenger .info {
    font-size: 16px;
    margin-bottom: 10px
}

#change-passenger a.btn {
    width: 100.5%;
    display: inline-block;
    background-color: #002C5F;
    color: #fff;
    border: 1px solid #002C5F;
    margin: 7px 0 3px;
    padding: 16px 0;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
    text-decoration: none
}

.refund-price-wrapper {
    overflow: hidden;
    padding-top: 5px;
    color: #3a3a3a
}

.refund-price-text {
    float: left
}

.refund-total-amount {
    float: right
}

.passenger-modal-wrapper .trn-modal-caption,.contact-modal-wrapper .trn-modal-caption {
    padding: 10px;
    display: -webkit-box!important;
    display: -ms-flexbox!important;
    display: flex!important;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.edit-button-wrapper {
    color: #002C5F;
    text-decoration: underline;
    padding-right: 15px
}

.edit-button-wrapper:hover {
    cursor: pointer
}

.passenger-recommendation-remove .close-button,.contact-recommendation-remove .close-button {
    width: 18px;
    height: 18px;
    border-radius: 18px;
    background-color: #e6e6e6;
    font-size: 8px;
    font-weight: bold;
    text-transform: uppercase;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center
}

.passenger-recommendation-remove:hover .close-button,.contact-recommendation-remove:hover .close-button {
    background-color: #002C5F;
    color: #fff
}

.div-reservation-content .extras.details {
    padding: 0 25px
}

.div-reservation-content .extras .extra-options-header {
    border-bottom: 2px solid #fa0303;
    padding: 5px 0;
    font-size: 16px
}

.div-reservation-content .extras .left-info {
    color: #002C5F;
    line-height: 40px
}

.div-reservation-content .extras .action-wrapper {
    display: inline-block;
    vertical-align: middle;
    width: 79%
}

.div-reservation-content .extras .assurance-price {
    display: inline-block;
    vertical-align: middle;
    width: 20%;
    text-align: right
}

.div-reservation-content .extras .assurance-price .price-note {
    font-size: 12px
}

.div-reservation-content .extras .assurance-price .price-value {
    color: #fa0303;
    font-size: 24px;
    text-rendering: optimizeLegibility
}

.div-reservation-content .extras .assurance-price .price-currency {
    font-size: 14px;
    color: #fa0303;
    text-rendering: optimizeLegibility
}

.div-reservation-content .extras .action-wrapper {
    display: inline-block;
    vertical-align: middle
}

.div-reservation-content .extras .extras-body .body-left {
    display: inline-block;
    vertical-align: middle;
    padding-bottom: 15px
}

.div-reservation-content .extras .extras-body .body-left .extra-link span {
    color: #fa0303;
    padding-top: 10px;
    display: inline-block;
    text-decoration: underline;
    cursor: pointer
}

.div-reservation-content .extras .extras-body .body-left .bold-info {
    font-size: 14px;
    margin: 15px 0 10px;
    color: #6d6d6d
}

.div-reservation-content .extras .extras-body .body-left ul li {
    display: inline-block;
    width: 45%;
    padding: 4px 0 4px 16px;
    font-size: 13px;
    position: relative;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap
}

.div-reservation-content .extras .extras-body .body-left .ul-wrapper {
    padding-left: 13px;
    color: #999
}

.div-reservation-content .extras .extras-body .body-left ul li:before {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAANCAIAAAD5fKMWAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAACKSURBVChTY/z//z8D0YAJShMHqKv62529W4+//Afl4VX97c6udXsf/WFn/gsVwO1LsNKnvJYBvnqCMDNhNMwuKMCmFAggzPenV89fe/olmI1TKRBAeIJGtqo/L2wDacCtFAgQ7v777MjKrbd/sv1iEMCuFASAquHgz9PDazZdfPcXysUEtIt5BgYArpNwWINrKCcAAAAASUVORK5CYII=');
    width: 10px;
    left: 0;
    top: 6px;
    height: 14px;
    content: " ";
    position: absolute
}

.action-wrapper .option label.active {
    color: #000
}

.action-wrapper .option label {
    line-height: 20px;
    display: inline-block;
    margin-right: 16px;
    position: relative;
    padding: 9px 0 11px 23px;
    cursor: pointer
}

.action-wrapper .option label.active:before {
    background: none;
    border-color: #fa0303;
    transition: border .25s linear;
    -webkit-transition: border .25s linear
}

.action-wrapper .option label:before {
    content: "";
    position: absolute;
    left: 0;
    top: 10px;
    border: 2px solid #aaa;
    background: #fff;
    border-radius: 100%;
    height: 14px;
    width: 14px;
    z-index: 2
}

.action-wrapper .option label.active .circle {
    background-color: #fa0303;
    height: 10px;
    width: 10px;
    margin: 2px;
    position: absolute;
    border-radius: 50%;
    left: 2px;
    top: 12px
}

.action-wrapper .option label input {
    display: none
}

.hidden {
    visibility: hidden
}

.assurance-price-wrapper {
    overflow: hidden;
    padding-top: 5px;
    color: #3a3a3a
}

.assurance-price-text {
    float: left
}

.assurance-total-amount {
    float: right
}

.medium-popup .trn {
    max-width: 500px;
    max-height: 450px;
    overflow: auto
}

.medium-popup-info-body {
    margin-top: 15px
}

.medium-popup-info-body strong {
    font-weight: 500;
    font-size: 17px;
    font-weight: normal!important;
    padding: 22px 0 5px!important;
    display: block
}

@media(max-width: 1025px) {
    .div-reservation-content .extras .extras-body .body-left {
        width:85%
    }

    .div-reservation-content .extras .extras-body .body-left ul li {
        font-size: 12px
    }
}

@media(max-width: 801px) {
    .div-reservation-content .extras .left-info {
        float:none
    }

    .div-reservation-content .extras .action-wrapper {
        float: none;
        text-align: left
    }

    .div-reservation-content .extras .extras-body .body-left {
        width: 100%
    }

    .div-reservation-content .extras .extras-body .body-left .ul-wrapper {
        padding-left: 0
    }
}

#ct-reservation-wrapper {
    margin-top: 20px
}

#ct-reservation-desktop {
    width: 100%
}

.ct-reservation-label {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
    color: #025697
}

#ct-reservation-mobile {
    width: 100%;
    display: none
}

@media screen and (max-width: 768px) {
    .ct-reservation-label {
        font-size:16px;
        margin-bottom: 6px
    }
}

@media screen and (max-width: 600px) {
    #ct-reservation-desktop {
        display:none
    }

    #ct-reservation-mobile {
        display: block
    }
}

.insurance-query-content .details,.insurance-checkout-content .details {
    padding: 15px;
    overflow: auto
}

.insurance-query-content input {
    width: 16px;
    height: 16px;
    padding: 0;
    margin: 0;
    vertical-align: bottom;
    position: relative;
    top: -1px
}

.insurance-query-info {
    text-decoration: underline;
    font-weight: 500;
    color: #002C5F;
    cursor: pointer
}

.insurance-query-amount,.insurance-checkout-amount {
    font-weight: 500;
    color: #002C5F
}

.insurance-query-currency,.insurance-checkout-currency {
    font-weight: 500;
    color: #002C5F
}

.insurance-query-content label {
    display: block;
    padding-left: 15px;
    text-indent: -15px
}

.insurance-select-wrapper {
    margin-top: 10px
}

.query-insurance-text,.checkout-insurance-text {
    float: left;
    width: 88%
}

.insurance-query-content .insurance-citizen-notice {
    font-size: 12px;
    color: #ff5a5f
}

.insurance-provider-logo {
    float: right;
    width: 12%
}


.checkout-single-insurance:not(:first-child) {
    margin-top: 10px
}

span.passengers-to-be-insured-title {
    font-weight: 500;
    color: #ef3b40
}

span.policy-number-value {
    font-weight: 500;
    color: #002C5F
}

span.insurance-infant-notice {
    display: none;
    color: #002C5F;
    font-weight: 500
}

.query-insurance-int-text {
    display: none
}

.trn-insurance-info-modal .trn {
    padding: 2.5% 0;
    max-width: 600px
}

.trn-insurance-info-modal .trn p {
    margin-top: 10px
}

.trn-insurance-info-modal .trn p a,.checkout-insurance-text a {
    color: #002C5F
}

.trn-insurance-info-modal .insurance-info-body {
    padding: 5px 20px;
    max-height: 500px;
    overflow-y: scroll;
    margin-top: 10px
}
