<div class="container">
    <div class="div-reservation-in margin-top-spacing">
        <div class="div-reservation-content flight-details">
            <div class="caption">
                <img src="https://upload.wikimedia.org/wikipedia/commons/5/57/Airplane_silhouette_S.png" alt=""
                    height="25" width="25"> Departure Details
            </div>
            <div class="details">



                <div class="title">
                    <span class="status">
                        Status: <span>Pre-Reservation</span>
                    </span>
                    <span class="tag">INFORMATION</span>
                    <span class="fly-duration">
                        <span>Flight Time :</span>
                        <span class="duration-value">{{flightInfo.hourTotal}} Hours</span>
                    </span>
                </div>




                <div class="fly-item TR">

                    <div class="fly">
                        <div class="img-wrp">
                            <img width="35"
                                src="https://res.cloudinary.com/turna/image/upload/q_auto,f_auto/Images/Flight/Airlines/UA.png"
                                alt="">
                        </div>
                        <div class="fly-airline wrap-parent">
                            <div class="wrap-parent-child">
                                <div class="fly-airline-name">{{flightInfo.marketingAirlines}}</div>
                                <div class="fly-promotion display-none">Promotion</div>
                            </div>
                        </div>
                    </div>
                    <div class="fly-info wrap-parent">
                        <div class="wrap-parent-child">
                            <div>Flight:{{flightInfo.flightNumber}}</div>
                            <div>Class: {{flightInfo.classM}}</div>
                        </div>
                    </div>
                    <div class="fly-detail wrap-parent">
                        <div class="wrap-parent-child">
                            <div class="time-and-airport first">
                                <strong>Deprtr: </strong> {{flightInfo.departureDate}}
                                <span class="no-wrap">
                                    {{flightInfo.departureCity}}
                                </span>
                            </div>
                            <div class="time-and-airport">
                                <strong>Arrival: </strong> {{flightInfo.tfarrivalDate}}
                                <span class="no-wrap">
                                    {{flightInfo.tfarrivalCity}}
                                </span>
                            </div>
                        </div>
                        <div class="segment-duration">
                            Return {{flightInfo.hourReturn}} Hours
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="airline-op">
                        Operating By {{flightInfo.operatingAirlines}}
                    </div>
                    <div class="baggage-allowance">
                        Baggage:&nbsp;&nbsp;{{flightInfo.tfarrivalBaggage}}
                    </div>
                    <div class="clearfix"></div>
                </div>

                <div class="transfer   ">
                    <div class="transfer-text-wrapper">
                        <div class="text">
                            Layover Time: {{flightInfo.hourLayover}} Hours
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>

                <div class="fly-item TR">

                    <div class="fly">
                        <div class="img-wrp">
                            <img width="35"
                                src="https://res.cloudinary.com/turna/image/upload/q_auto,f_auto/Images/Flight/Airlines/UA.png"
                                alt="">
                        </div>
                        <div class="fly-airline wrap-parent">
                            <div class="wrap-parent-child">
                                <div class="fly-airline-name">{{flightInfo.tfdepartureMarketing}}</div>
                                <div class="fly-promotion display-none">Promotion</div>
                            </div>
                        </div>
                    </div>
                    <div class="fly-info wrap-parent">
                        <div class="wrap-parent-child">
                            <div>Flight:{{flightInfo.tfdepartureFlightNum}}</div>
                            <div>Class: {{flightInfo.classM}}</div>
                        </div>
                    </div>
                    <div class="fly-detail wrap-parent">
                        <div class="wrap-parent-child">
                            <div class="time-and-airport first">
                                <strong>Deprtr: </strong> {{flightInfo.tfdepartureDate}}
                                <span class="no-wrap">
                                    {{flightInfo.tfdepartureCity}}
                                </span>
                            </div>
                            <div class="time-and-airport">
                                <strong>Arrival: </strong> {{flightInfo.arrivalDate}}
                                <span class="no-wrap">
                                {{flightInfo.arrivalCity}}
                                </span>
                            </div>
                        </div>
                        <div class="segment-duration">
                            Return {{flightInfo.hourReturn}} Hours
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="airline-op">
                        Operating By {{flightInfo.tfdepartureOperating}}
                    </div>
                    <div class="baggage-allowance">
                        Baggage:&nbsp;&nbsp;{{flightInfo.tfdepartureBagage}}
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>



        <div class="div-reservation-content">
            <div class="caption">
                <img src="https://library.kissclipart.com/20180905/zse/kissclipart-price-icon-clipart-price-tag-computer-icons-dcb2c93467664361.png"
                    alt="" height="25" width="25"> Price

            </div>
            <div class="details">
                <div class="div-price size-for-5">
                    <div class="price-cap price-color-padding">Passenger</div>
                    <div class="t-right price-color-padding">Price</div>
                    <div class="t-right price-color-padding">Service</div>
                    <div class="t-right price-color-padding">Tax</div>
                    <div class="t-right price-color-padding">Total</div>
                    <!--=======item=========-->
                    <div class="price-cap">1 Person</div>
                    <div class="t-right">{{flightInfo.price}} $</div>
                    <div class="t-right">{{flightInfo.service}} $</div>
                    <div class="t-right">{{flightInfo.tax}} $</div>
                    <div class="t-right">{{flightInfo.total}} $</div>
                    <div class="clearfix"></div>
                </div>
                <div class="clearfix"></div>
            </div>

            <div class="item">
                <button class="btn-lg btn-default pull-left make-reservation">Reservation</button>
                <button class="btn-lg btn-payment pull-right to-booking">Buy</button>
                <div class="clearfix"></div>
            </div>
        </div>



    </div>

</div>