
@import url(https://fonts.googleapis.com/css?family=Roboto:100,300,400);
.slider {
    display: inline-block;
    vertical-align: middle;
    position: relative
}

.slider input {
    display: none
}

@media (max-width:800px) {
    .icons-p img {
        display: block
    }
}

.div-search-list {
    display: inline-block
}

.sorting-title {
    padding: 0 10px;
    font-size: 15px
}

.div-search-list .div-search-list-items .title select {
    border: none;
    padding: 0
}

.div-search-list .div-search-nav .nav-item .title img {
    display: inline-block;
    vertical-align: middle
}

.collapse {
    display: none;
    visibility: hidden
}

.collapse.in {
    display: block;
    visibility: visible
}

.div-search-list {
    width: 100%;
    margin: auto;
    background-color: #fff;
    border-top: 1px solid #e9e7f0
}

.div-search-list .div-search-nav {
    width: 19%;
    float: left;
    padding: 5px 0 5px 1%;
    margin-top: 25px
}

.div-search-list .div-search-nav .nav-item {
    border-bottom: 1px solid #e2e2e2;
    padding: 10px;
    letter-spacing: .0325em
}

.div-search-list .div-search-nav .nav-item .title {
    font-weight: 500;
    padding: 4px 0;
    font-size: 17px;
    color: #2a59bd;
    cursor: pointer
}

.div-search-list .div-search-nav .nav-item .title img, .div-search-list .div-search-nav .nav-item .title span {
    margin-right: 5px;
    display: inline-block;
    vertical-align: middle
}

.div-search-list .div-search-nav .nav-item ul {
    list-style: none;
    padding: 10px 0 0 0;
    margin: 0
}

.div-search-list .div-search-nav .nav-item ul li {
    padding: 4px 0;
    font-size: 12px
}

.div-search-list .div-search-nav .nav-item .check-box-wrapper input[type=checkbox] {
    height: 14px;
    width: 14px;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 2px
}

.div-search-list .div-search-nav .nav-item .check-box-wrapper input[type=checkbox]+label {
    color: #333;
    font-weight: 400
}

.div-search-list .div-search-nav .nav-item .check-box-wrapper input[type=checkbox]:checked+label {
    color: #777;
    font-weight: 400
}

.div-search-list .div-search-list-items {
    width: 78%;
    float: right;
    padding: 10px 11px 10px 10px;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

.div-search-list .div-search-list-items .item {
    border: 1px solid #e2e2e2;
    font-size: 16px;
    padding: 15px 15px 0 15px;
    margin-bottom: 5px;
    position: relative
}

.div-search-list .div-search-list-items .item:hover {
    border: 1px solid #ccc;
    -webkit-box-shadow: -1px 1px 4px 0 rgba(50, 50, 50, .3);
    -moz-box-shadow: -1px 1px 4px 0 rgba(50, 50, 50, .3);
    box-shadow: -1px 1px 4px 0 rgba(50, 50, 50, .3)
}

.div-search-list .div-search-list-items .item .caption {
    font-size: 16px;
    color: #777;
    margin-bottom: 13px;
    overflow: hidden
}

.div-search-list .div-search-list-items .item .caption img, .div-search-list .div-search-list-items .item .caption span {
    vertical-align: middle;
    display: inline-block
}

.div-search-list .div-search-list-items .item .text {
    font-size: 13px;
    margin-top: 2px;
    text-align: left;
    color: #777;
    float: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
}

.div-search-list .div-search-list-items .item .date {
    width: 45px;
    font-size: 16px;
    color: #4b4b4b;
    float: left;
    text-align: left;
    margin: 0 5px 0 10px;
    font-weight: 500
}

.div-search-list .div-search-list-items .item .date-arrival {
    margin-left: 2%;
    margin-right: 10px;
    white-space: nowrap;
    position: relative
}

.div-search-list .div-search-list-items .item .date-p {
    width: 40px;
    font-size: 14px;
    color: #000;
    float: left;
    text-align: center;
    margin-left: 10px
}

.div-search-list .div-search-list-items .item .date-w {
    width: 15%;
    font-size: 16px;
    color: #000;
    float: left
}

.div-search-list .div-search-list-items .item .date-d {
    font-size: 13px;
    color: #999;
    float: left;
    white-space: nowrap;
    margin-top: 2px
}

.div-search-list .div-search-list-items .item .date-d {
    width: 57px
}

.div-search-list .div-search-list-items .item .price {
    font-size: 22px;
    color: #4b4b4b;
    font-weight: 500;
    height: 60%;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 5px
}

.div-search-list .div-search-list-items .item .price img {
    display: inline-block;
    vertical-align: middle
}

.div-search-list .div-search-list-items .item .button {
    height: 40%;
    padding-left: 10%;
    padding-right: 10%
}

.div-search-list .div-search-list-items .item .button input {
    font-size: 14px;
    color: #fff;
    background-color: #ff9012;
    font-weight: 500;
    border: none;
    min-height: 32px;
    width: 100%;
    padding: 6px;
    outline: 0
}

.div-search-list .div-search-list-items .item .button input:hover {
    background-color: #f6861f
}

.div-search-list-items .caption-top {
    font-size: 18px;
    text-align: center;
    background-color: #38b0ae;
    font-weight: 700;
    margin-top: 10px;
    margin-bottom: 5px;
    padding: 3px;
    color: #fff
}

.div-search-list-items .caption-top-dark {
    font-size: 13px;
    text-align: center;
    background-color: #4b4b4b;
    margin-top: 10px;
    margin-bottom: 5px;
    padding: 2px 0;
    color: #fff;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

.div-search-list-items .caption-top-dark:after, .div-search-list-items .caption-top-dark:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

.div-search-list-items .caption-top-dark div {
    display: inline-block;
    vertical-align: middle;
    line-height: 17px;
    padding: 2px 0;
    letter-spacing: .0625em
}

.div-search-list-items .caption-top-dark .date-info {
    font-size: 13px;
    font-weight: 400
}

.caption-top-dark-a:active, .caption-top-dark-a:link, .caption-top-dark-a:visited {
    color: #fff;
    font-size: 13px;
    font-weight: 400
}

.fl .before-date, .item-header .left {
    float: left;
    margin-left: 15px;
    margin-top: 10px
}

.fl .to-date, .item-header .right {
    float: right;
    margin-right: 15px;
    margin-top: 10px
}

.caption-top-dark-a:hover {
    color: #fff
}

.div-search-list-items .total-price {
    margin-top: 30px;
    padding: 20px 2% 10px 2%;
    border-top: 1px solid #e9e7f0;
    text-align: center;
    display: inline-block;
    width: 95%;
    font-weight: 500
}

.div-search-list-items .total-price .text {
    font-size: 18px;
    text-align: right;
    width: 300px;
    display: inline-block;
    padding-right: 15px;
    color: #4b4b4b
}

.div-search-list-items .total-price .point, .div-search-list-items .total-price .price {
    font-size: 23px;
    color: #ff7607;
    display: inline-block;
    width: 200px;
    text-align: left;
    text-rendering: optimizeLegibility
}

.div-search-list-items .total-price button {
    font-size: 18px;
    color: #fff;
    background-color: #ff9012;
    width: 150px;
    padding: 5px;
    border: none
}

.div-search-list-items .total-price button:hover {
    background-color: #db781c
}

@media (min-width:991px)and (max-width:1200px) {
    .filter-checkbox .min-price {
        display: none
    }
    .check-box-wrapper label {
        font-size: 12px!important
    }
    .div-search-list .div-search-nav .nav-item .title {
        font-size: 17px!important
    }
    .div-search-list .div-search-list-items {
        padding-right: 0
    }
}

.filter-show-all {
    text-align: left;
    padding-left: 5px
}

.filter-show-all a {
    color: #ff760d!important
}

.airline-name {
    padding-left: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
}

.origin-destination {
    padding-left: 2px
}

.arrival-date {
    position: relative
}

.filter-sub-header {
    font-size: 16px;
    margin-top: 14px;
    text-rendering: optimizeLegibility
}

.check-box-wrapper {
    display: block;
    position: relative;
    z-index: 1;
    white-space: nowrap;
    cursor: pointer;
    zoom: 1;
    overflow: hidden
}

.filter-checkbox .min-price {
    float: right;
    text-align: right;
    color: #95adad;
    min-width: 50px;
    z-index: 20;
    letter-spacing: normal;
    text-decoration: none;
    font-size: 13px
}

.filter-checkbox li:hover .filter-only {
    display: block
}

.check-box-wrapper label {
    display: block;
    white-space: nowrap;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    -ms-text-overflow: ellipsis;
    overflow: hidden;
    margin: 0 0 0 20px;
    padding: 0;
    cursor: pointer!important;
    max-width: 84%;
    font-size: 13px
}

.filter-only {
    display: none;
    float: right;
    z-index: 2;
    background: #fff;
    padding: 0 2px 0 0;
    margin: 0;
    color: #127e8b!important;
    line-height: 20px;
    outline: 0
}

.nav-item .title .filter-section-all {
    float: right;
    font-weight: 400;
    font-size: 14px;
    line-height: 30px;
    color: #ff7607;
    display: none
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2em;
    height: 100vh;
    margin: 0;
    background: radial-gradient(ellipse farthest-corner at center top, #ececec, #999);
    color: #363c44;
    font-size: 14px
}

.section {
    max-width: 95%;
    margin: 25px auto
}

.tp-flight-plan {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2em;
    color: #363c44;
    font-size: 14px
}

.tp-flight-plan .crop {
    position: relative;
    border: 1px solid #e2e2e2;
    border-radius: 3px;
    background-color: #fff;
    cursor: pointer;
    margin-bottom: 10px
}

.tp-flight-plan .crop .itin-det-btn {
    -ms-transition: all .25s ease 0s;
    -o-transition: all .25s ease 0s;
    -moz-transition: all .25s ease 0s;
    -webkit-transition: all .25s ease 0s;
    transition: all .25s ease 0s
}

.tp-flight-plan .crop .itin-det-btn {
    text-decoration: none;
    outline: 0;
    position: absolute;
    right: -13px;
    top: 35px;
    font-size: 14px;
    background-color: #d9534f;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    line-height: normal
}

.tp-flight-plan .crop .itin-det-btn .fa {
    display: none
}

.tp-flight-plan .crop .context.collapsed i.fa-chevron-down {
    display: block
}

.tp-flight-plan .crop .context:not(.collapsed) i.fa-chevron-up {
    display: block
}

.tp-flight-plan .context {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: stretch;
    padding: 10px;
    background: #f5f5f5
}

.tp-flight-plan .crop .item {
    margin: 0;
    display: flex;
    justify-content: center
}

.tp-flight-plan .crop .trip-type {
    position: absolute;
    left: -5px;
    top: -19px;
    line-height: normal;
    background-color: #f5f5f5;
    border-radius: 3px;
    padding: 5px 10px 0;
    color: #0275d8;
    font-size: 11px;
    width: 85px;
    text-align: center
}

.tp-flight-plan .crop .trip-type.return {
    color: #ec397b;
    right: 0;
    left: unset
}

.tp-flight-plan .item.it-1 {
    flex-grow: 5;
    display: flex;
    position: relative;
}

.tp-flight-plan .item.it-1:before {
    content: "";
    position: absolute;
    width: calc(100% - 10px);
    height: 2px;
    border-top: dashed 1px #9e9e9e;
    top: 50%;
    left: 15px;
    margin-top: -1px
}

.tp-flight-plan .it-1 .port-seg {
    display: flex;
    flex: 3;
    position: relative
}

.tp-flight-plan .it-1 .port-seg .flight-seg {
    flex: 1;
    padding-bottom: 5px
}

.tp-flight-plan .it-1 .flight-seg.origin {
    padding-left: 5px
}

.tp-flight-plan .it-1 .flight-seg .time {
    font-size: 20px;
    color: #232b38;
    font-weight: 700
}

.tp-flight-plan .it-1 .flight-seg .port {
    display: inline-block;
    background-color: #f5f5f5;
    font-size: 16px;
    color: #878787;
    line-height: 3.
}

.tp-flight-plan .it-1 .flight-seg .name {
    font-size: 12px;
    color: #878787;
    line-height: 1.2
}

.tp-flight-plan .it-1 .flight-seg.destination {
    text-align: right;
    padding-right: 5px
}

.tp-flight-plan .flight-seg.destination .port {
    padding: 0 0 0 5px
}

.tp-flight-plan .it-1 .airline-image {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    padding: 0 20px;
    height: 21px;
    margin-bottom: 5%;
}

.tp-flight-plan .it-1 .df-text {
    margin-top: 5%;
}

.tp-flight-plan .it-1 .img-wrapper {
    flex: 1;
    text-align: center;
    position: relative;
}

.tp-flight-plan .it-1 .top-label {
    color: #47cf73;
    font-size: 11px
}

.tp-flight-plan .it-1 .df-text {
    position: absolute;
    top: -24px;
    left: 50%;
    transform: translate(-50%, -100%);
    font-size: 11px;
    color: #a2a9b3;
    text-align: center
}

.tp-flight-plan .it-1 .top-label.has-stops {
    color: Red
}

.tp-flight-plan .it-1 .top-label .stops {
    color: gray
}

.tp-flight-plan .it-1 .route-dot span {
    position: absolute;
    background-color: #607d8ba3;
    top: calc(50% - 4px);
    left: var(--data-left);
    border-radius: 10px;
    padding: 4px
}

.tp-flight-plan .it-2 .al-name {
    display: block
}

.tp-flight-plan .item.it-2 {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    align-items: center;
    background: #fff;
    border: 1px solid #ccc;
    flex-direction: column;
    flex: 2 2 100px
}

.tp-flight-plan .item.it-2 .dr-row {
    display: flex;
    flex-direction: row
}

.tp-flight-plan .item.it-2 .airline-logo {
    max-width: 100%;
    max-height: 100%
}

.tp-flight-plan .item.it-2 .take-tim {
    font-size: 12px;
    color: gray;
    line-height: 20px
}

.tp-flight-plan .item.it-3 {
    flex-grow: 2;
    text-align: center
}

.tp-flight-plan .arrival-info {
    margin-top: 1.5rem;
    font-size: 12px;
    line-height: 1.125rem;
    font-weight: 400;
    letter-spacing: normal;
    border-top: solid 1px #ccc;
    padding-top: 10px
}
